* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    /* Fixed navbar */
    position: fixed;
    top: 10%;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  li button {
    font-size: 14px;
    border-collapse: collapse;
    border-color: #333;
    background-color: #333;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li button:hover {
    background-color: #111;
    cursor: pointer;
  }

  .right {
      float: right;
  }

  .body {
    margin-left: 15%;
    margin-right: 15%;
  }

  /* Column container */
.row {  
  display: flex;
  flex-wrap: nowrap;
}

/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  flex: 70%;
  background-color: #c5c5c5;
  padding: 20px;
}

#img {
  /* This is for the sizing of the images */
}

#answers {
  /* This is for the answer section */
}

