<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Muse Skill</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/music.css">
    <script src="script.js"></script>
</head>
<body>
    <h1>This is MuseSkill</h1>

    <!-- navbar -->
    <ul>
        <!-- <li><a class="active" href="#home">Home</a></li> -->
        <li><a class="active" href="/home">Home</a></li>
        <li><a href="/muse_skill">Notes</a></li>
        <li><a href="/muse_skill">Chords</a></li>
        <li class="right"><a href="/contact">Contact Us</a></li>
        <li class="right"><a href="/about">About</a></li>   
      </ul>

      <br><br><br><br><br>
      <div class="body">
          <p>Contact info goes here</p>
      </div>

    
</body>
</html>