<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Postage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="post.css">
</head>
<body>
    <h1>Your Postage Rates</h1>
    <h3>Your rates for <%= type %> is: $<%= cost %> </h3>

</body>
</html>