<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Muse Skill</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/music.css">
    <script src="script.js"></script>
</head>
<body>
    <h1>This is MuseSkill</h1>

    <!-- navbar -->
    <ul>
        <!-- <li><a class="active" href="#home">Home</a></li> -->
        <li><a class="active" href="/home">Home</a></li>
        <li><button onclick="getNotes()">Notes</button></li>
        <li><a href="/muse_skill_chords">Chords</a></li>
        <li class="right"><a href="/contact">Contact Us</a></li>
        <li class="right"><a href="/about">About</a></li>       
      </ul>

      <br><br><br><br><br>
      <div class="body">
        <div class="row">
            <div class="side">
                What note is this?<br> <!--Make this invisible unitl button is clicked? -->
                <img id="img" src="">
                <div id="audio" src=""></div>
            </div>
            <div class="main">
                <div id="answers"></div>
            </div>
        </div>
        <p id="correct">Correct!</p>
        <p id="incorrect">Incorrect!</p>
        <button onclick="checkAnswer()">Submit</button>
        <button class="button" name="submitButton" onclick="nextQuestion()">Next Question</button>

    
</body>
</html>